{% extends "layouts/side-nav-layout.njk" %}
{% from "../partials/expanded-predictor-badge/macro.njk" import expandedPredictorBadge %}

{% set pageTitle = "Expanded Predictor Badge" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>

  <div id="predictor-badge-wrapper" class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.lowStaticRiskScore, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.lowStaticRiskScore, true) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.lowDynamicRiskScore, false) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ expandedPredictorBadge(badgeRiskScores.lowDynamicRiskScore, true) }}
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.mediumStaticRiskScore, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.mediumStaticRiskScore, true) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.mediumDynamicRiskScore, false) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ expandedPredictorBadge(badgeRiskScores.mediumDynamicRiskScore, true) }}
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.highStaticRiskScore, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.highStaticRiskScore, true) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.highDynamicRiskScore, false) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ expandedPredictorBadge(badgeRiskScores.highDynamicRiskScore, true) }}
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.veryHighStaticRiskScore, false) }}
      </div>
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.veryHighStaticRiskScore, true) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-4">
        {{ expandedPredictorBadge(badgeRiskScores.veryHighDynamicRiskScore, false) }}
      </div>
      <div class="govuk-!-margin-bottom-8">
        {{ expandedPredictorBadge(badgeRiskScores.veryHighDynamicRiskScore, true) }}
      </div>
    </div>
  </div>

{% endblock %}
