{% extends "layouts/side-nav-layout.njk" %}
{% from "../partials/predictor-badge/macro.njk" import predictorBadge %}

{% set pageTitle = "Predictor Badge" %}
{% set mainClasses = "govuk-body" %}

{% block sideNavContent %}
  <h1 class="govuk-heading-xl">
    {{ pageTitle }}
  </h1>

  <div id="predictor-badge-wrapper" class="govuk-grid-row">
    <div>LOW</div>
    <small class="govuk-grid-column-full">Risk score badge (large) - LOW - Static</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.lowStaticRiskScore, false, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - LOW - Dynamic</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.lowDynamicRiskScore, false, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - LOW - Static (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.lowStaticRiskScore, true, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - LOW - Dynamic (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.lowDynamicRiskScore, true, false) }}
    </div>

    <div>MEDIUM</div>
    <small class="govuk-grid-column-full">Risk score badge (large) - MEDIUM - Static</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.mediumStaticRiskScore, false, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - MEDIUM - Dynamic</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.mediumDynamicRiskScore, false, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - MEDIUM - Static (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.mediumStaticRiskScore, true, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - MEDIUM - Dynamic (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.mediumDynamicRiskScore, true, false) }}
    </div>

    <div>HIGH</div>
    <small class="govuk-grid-column-full">Risk score badge (large) - HIGH - Static</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.highStaticRiskScore, false, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - HIGH - Dynamic</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.highDynamicRiskScore, false, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - HIGH - Static (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.highStaticRiskScore, true, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - HIGH - Dynamic (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.highDynamicRiskScore, true, false) }}
    </div>

    <div>VERY HIGH</div>
    <small class="govuk-grid-column-full">Risk score badge (large) - VERY HIGH - Static</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.veryHighStaticRiskScore, false, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - VERY HIGH - Dynamic</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.veryHighDynamicRiskScore, false, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - VERY HIGH - Static (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.veryHighStaticRiskScore, true, false) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - VERY HIGH - Dynamic (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.veryHighDynamicRiskScore, true, false) }}
    </div>

    <div>LOW - Acronym</div>
    <small class="govuk-grid-column-full">Risk score badge (large) - LOW - Static</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.lowStaticRiskScore, false, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - LOW - Dynamic</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.lowDynamicRiskScore, false, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - LOW - Static (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.lowStaticRiskScore, true, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - LOW - Dynamic (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.lowDynamicRiskScore, true, true) }}
    </div>

    <div>MEDIUM - Acronym</div>
    <small class="govuk-grid-column-full">Risk score badge (large) - MEDIUM - Static</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.mediumStaticRiskScore, false, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - MEDIUM - Dynamic</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.mediumDynamicRiskScore, false, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - MEDIUM - Static (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.mediumStaticRiskScore, true, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - MEDIUM - Dynamic (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.mediumDynamicRiskScore, true, true) }}
    </div>

    <div>HIGH - Acronym</div>
    <small class="govuk-grid-column-full">Risk score badge (large) - HIGH - Static</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.highStaticRiskScore, false, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - HIGH - Dynamic</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.highDynamicRiskScore, false, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - HIGH - Static (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.highStaticRiskScore, true, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - HIGH - Dynamic (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.highDynamicRiskScore, true, true) }}
    </div>

    <div>VERY HIGH - Acronym</div>
    <small class="govuk-grid-column-full">Risk score badge (large) - VERY HIGH - Static</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.veryHighStaticRiskScore, false, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - VERY HIGH - Dynamic</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.veryHighDynamicRiskScore, false, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - VERY HIGH - Static (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.veryHighStaticRiskScore, true, true) }}
    </div>
    <small class="govuk-grid-column-full">Risk score badge (large) - VERY HIGH - Dynamic (with score)</small>
    <div class="govuk-grid-column-full">
      {{ predictorBadge(badgeRiskScores.veryHighDynamicRiskScore, true, true) }}
    </div>
  </div>

{% endblock %}
